<div class="container-fluid header">
  <div *ngIf="!authenticationService.isAuthenticated()">
    <div class="col-xs-12 col-sm-8 col-lg-4 pull-right greeter">
      <h1>Welcome to the CHIBB dashboard!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi nulla, auctor at turpis et, convallis blandit sem. Morbi dignissim tellus in rhoncus interdum. Aenean volutpat, felis at luctus fringilla, elit neque elementum eros, vitae varius metus diam non velit. Donec ac massa nec orci bibendum commodo. Pellentesque ut tortor ut ipsum volutpat venenatis sit amet a justo.
      </p>
      <p>
        To begin please <a routerLink="../authenticate/login">login</a> or <a routerLink="../authenticate/register">register</a>.
      </p>
    </div>
  </div>

  <div *ngIf="authenticationService.isAuthenticated()">
    <div class="greeter">
      <h1>Hello {{ authenticationService.getUsername() }}!</h1>
      <p>
        Hope you are having a nice day.<br />
        CHIBB this out!
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 4</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 5</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 6</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>