<div class="container-fluid">
  <div *ngIf="!authenticationService.isAuthenticated()" class="center-block">
    <div>
      <h1>Hello and welcome to the CHIBB dashboard!</h1>
      <div>
        With this dashboard you can ...
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
        </ul>
      </div>
      <p>
        To begin please <a routerLink="../authenticate/register">register</a> first.
      </p>
    </div>
  </div>

  <div *ngIf="authenticationService.isAuthenticated()">
    <div class="greeter">
      <h1>Hello {{ authenticationService.getUsername() }}!</h1>
      <p>
        Hope you are having a nice day.<br />
        CHIBB this out!
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 4</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 5</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="tile">
          <h2>Item 6</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed massa risus, tincidunt efficitur est vitae, venenatis rhoncus arcu.
            Vestibulum elementum justo odio, quis consectetur velit sollicitudin ac.
            Donec in ipsum ac neque lobortis lobortis.
            Mauris facilisis velit quis purus dapibus condimentum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>