<div class="container-fluid header">
  <div class="col-xs-12 col-sm-8 col-lg-4 pull-right greeter">
    <h1 class="welcome">Welcome to the CHIBB dashboard<span *ngIf="authenticationService.isAuthenticated()">, {{ authenticationService.getUsername() }}</span>!</h1>
    <p style="text-align: right;">
      CHIBB, wat staat voor 'Concept House Instituut van Bouw- en Bedrijfskunde', is een duurzaam huis prototype van de Hogeschool Rotterdam.
      <br/>
      Hierbij staat innovatie en duurzaamheid centraal!
      <br/>
      Verder zijn er ook verschillende sensoren in het CHIBB huis geplaats die constant data verzamelen. 
      Dit dashboard maakt deze data inzichtelijk.
    </p>
    <div class="suggestion">
      <p *ngIf="!authenticationService.isAuthenticated()">
        To begin please <a routerLink="../authenticate/login">login</a> or <a routerLink="../authenticate/register">register</a>.
      </p>
      <p *ngIf="authenticationService.isAuthenticated()">
        <a routerLink="../dashboard">Continue to dashboard &raquo;</a>
      </p>
    </div>
  </div>
</div>