body {
}

nav a {
  color: black;
  background-color: #e6e6e6;

  text-decoration: none;

  padding: 4px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

nav a:hover {
  background-color: #f6f6f6;
}
