.sensor-information {
  min-height: calc(100vh - 70px);
  padding: 32px;
}

.error-text {
  text-align: center;

  font-size: 36px;
}

.panel-custom-info {
  border-radius: 0px;
  border-color: #22323f;
}

.panel-heading-custom {
  background-color: #22323f;
  color: #64b26f;
  border-color: #4c896d;
  border-radius: 0px;

  padding: 12px;
}

.panel-title {
  font-size: 28px;
  font-weight: bold;
}

.detail-list  {
  padding-left: 12px;
}

.detail-list div {
  font-size: 18px;
}

.detail-list div:not(:last-child) {
  padding-bottom: 8px;
}
  
  
  .detail-list div span.glyphicon {
    font-size: 20px;
    padding-right: 8px;
  }

.sensor-value-graph {
  width: 100%;
  height: 550px;
}

.status-stable-text {
  color: #00ca23;
}

.status-warning-text {
  color: #f76700;
}

.status-danger-text {
  color: #d40000;
}