<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Create a sensor</h2>
    <hr />
    <!--Alerts-->
    <div class="alert alert-danger " role="alert" *ngIf="hasAttempted && sensorCreationFrom.invalid">
      <strong>Uh-oh!</strong> One or more fields are not valid
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="hasAttempted && errorMessage">
      <strong>Uh-oh!</strong> {{ errorMessage }}
    </div>
    <!--End of alerts-->
    <form class="form-horizontal" [formGroup]="sensorCreationFrom" (ngSubmit)="attemptSensorCreation($event)">
      <div class="form-group" [ngClass]="{'has-error has-feedback': sensorCreationFrom.controls['sensorIdentifier'].invalid && hasAttempted }">
        <label class="control-label col-sm-2">Sensor identifier:</label>
        <div class="col-sm-6">
          <input class="form-control" formControlName="sensorIdentifier" type="text" placeholder="Sensor identifier">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error has-feedback': sensorCreationFrom.controls['houseIdentifier'].invalid && hasAttempted }">
        <label class="control-label col-sm-2">House identifier:</label>
        <div class="col-sm-6">
          <!--<input class="form-control" formControlName="houseIdentifier" type="text" placeholder="House identifier">-->
          <select class="form-control" formControlName="houseIdentifier" id="houseDropdown">
            <option *ngFor="let hid of hids" [value]="hid">{{ hid }}</option>
          </select>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error has-feedback': sensorCreationFrom.controls['type'].invalid && hasAttempted }">
        <label class="control-label col-sm-2">Type:</label>
        <div class="col-sm-6">
          <input class="form-control" formControlName="type" type="text" placeholder="Type">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error has-feedback': sensorCreationFrom.controls['location'].invalid && hasAttempted }">
        <label class="control-label col-sm-2">Location:</label>
        <div class="col-sm-6">
          <input class="form-control" formControlName="location" type="text" placeholder="Location">
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error has-feedback': sensorCreationFrom.controls['attributes'].invalid && hasAttempted }">
        <label class="control-label col-sm-2">Attributes:</label>
        <div class="col-sm-6">
          <input class="form-control" formControlName="attributes" type="text" placeholder="Attribute">
          <!--timestamp;unit;value;sensorState;sensorBatteryLevel-->
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="submit">Create sensor</button>
        </div>
      </div>
    </form>
  </div>
</div>