<div class="dashboard">
  <div class="greeter-wrapper">
    <div class="greeter">
      <h1 class="welcome">Hello {{ authenticationService.getUsername() }}!</h1>
      <p>
        Hope you are having a nice day.<br />
        How is your network doing?
      </p>
    </div>
  </div>
  <div class="container row">
    <sensor-health-tile></sensor-health-tile>
  </div>

  <!--Graph container-->
  <div class="">
    <div id="graphContainer">
      <!--<network *ngIf="network" [containerId]="network.containerId" [nodes]="network.nodes" [edges]="network.edges" [options]="network.options"></network>-->
    </div>
  </div>
</div>