.dashboard {
  background-color: #22323f;
  min-height: calc(100vh - 70px);
}

.center-block {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.greeter-wrapper {
  min-height: 320px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #64b26f;
}

.greeter {
  text-align: center;
}

#graphContainer {
  height: 550px;
  background-color: #f9f9f9;
}
