<div class="container-fluid">
  <div>
    <h1></h1>
    <div class="panel panel-custom-info">
      <div class="panel-heading panel-heading-custom">
        <h3 class="panel-title">Data <span class="glyphicon glyphicon-info-sign pull-right clickable" data-toggle="modal" data-target="#infoDataModal"> </span></h3>
      </div>
      <div class="panel-body">
        <div id="graph"></div>
      </div>
    </div>

    <div class="row control-container">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-custom-info">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Period</h3>
          </div>
          <div class="panel-body">
            <table class="controls">
              <tr>
                <td>Start date</td>
                <td><input id="startDateInput" [(ngModel)]="startDate" (change)="updatePeriod()" type="datetime-local" class="form-control" /></td>
              </tr>
              <tr>
                <td>End date</td>
                <td><input id="endDateInput" [(ngModel)]="endDate" (change)="updatePeriod()" type="datetime-local" class="form-control" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-custom-info">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Content</h3>
          </div>
          <div class="panel-body">
            <div *ngIf="sensors && sensors.length === 0">
              To remove a sensor from the graph, click the minus next to the sensor in the list
            </div>
            <table *ngIf="sensors && sensors.length > 0" class="controls">
              <tr>
                <td>
                  Add data from
                </td>
                <td>
                  <div>
                    <select id="addSeries_graph" class="form-control"><option *ngFor="let sensor of sensors" [value]="sensor.sid">{{ sensor.sid }} - {{ sensor.location }} - {{ sensor.type }}</option></select>
                  </div>
                </td>
                <td>
                  <div class="btn btn-default pull-right" (click)="addSeries('graph')">Add</div>
                </td>
              </tr>
              <!--<tr>
                <td>
                  Remove data from
                </td>
                <td>
                  <select id="removeSeries_graph" class="form-control"><option *ngFor="let sensor of addedSensors" [value]="sensor.sid">{{ sensor.sid }} - {{ sensor.location }} - {{ sensor.type }}</option></select>
                </td>
                <td>
                  <div class="btn btn-default btn-justify" (click)="removeSeries('graph')">Remove</div>
                </td>
              </tr>-->
            </table>
            <br />
            <h4 *ngIf="addedSensors.length > 0">Added sensors</h4>
            <div class="list-group" style="margin-bottom: 0px;">
              <div *ngFor="let sensor of addedSensors" class="list-group-item" [ngClass]="{'active': selectedSensor && sensor === selectedSensor }" (click)="selectSensor(sensor)" style="cursor: pointer;">
                <span>{{ sensor.sid }} - {{ sensor.location }} - {{ sensor.type }}</span>
                <span class="glyphicon glyphicon-minus pull-right remove-button" (click)="removeSeries('graph', sensor.sid)"> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-custom-info">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Styling</h3>
          </div>
          <div class="panel-body">
            <!--<h4>General</h4>
            <table class="controls">

            </table>-->
            <div *ngIf="!selectedSensor">
              <i>After adding a sensor, select it from the list to edit the style.</i>
            </div>

            <div *ngIf="selectedSensor">
              <h4>Specific</h4>
              <i>Setting style for: "{{ selectedSensor.sid }} - {{ selectedSensor.location }} - {{ selectedSensor.type }}"</i>
              <br />
              <table class="controls">
                <tr>
                  <td>
                    Draw style
                  </td>
                  <td>
                    <select (change)="updateStyle()" [(ngModel)]="drawStyle" class="form-control">
                      <option value="points" [selected]="drawStyle === 'points'">Points</option>
                      <option value="line" [selected]="drawStyle === 'line'">Line</option>
                      <option value="bar" [selected]="drawStyle === 'bar'">Bar</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    Point style
                  </td>
                  <td>
                    <select (change)="updateStyle()" [(ngModel)]="drawPointsStyle" class="form-control">
                      <option value="circle" [selected]="drawPointsStyle === 'circle'">Circle</option>
                      <option value="square" [selected]="drawPointsStyle === 'square'">Square</option>
                      <option value="none" [selected]="drawPointsStyle === 'none'">None</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    Interpolation
                  </td>
                  <td>
                    <select (change)="updateStyle()" [(ngModel)]="interpolation" class="form-control">
                      <option value="uniform" [selected]="interpolation === 'uniform'">Uniform</option>
                      <option value="chordal" [selected]="interpolation === 'chordal'">Chordal</option>
                      <option value="centripetal" [selected]="interpolation === 'centripetal'">Centripetal</option>
                      <option value="none" [selected]="interpolation === 'none'">None</option>
                    </select>
                  </td>
                </tr>
              </table>
              <br />
              <div *ngIf="drawStyle === 'points' && drawPointsStyle === 'none'" class="alert alert-info" style="margin-bottom: 0px;" role="alert">
                <strong>Heads up!</strong> Setting draw style to points and the style of the points will result in an empty graph!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modals-->
<!-- Info Data Modal -->
<div id="infoDataModal" class="modal modal-custom fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Info - Data</h3>
      </div>
      <div class="modal-body">
        <h4>General</h4>
        <p>
          The data view shows the values produced by the sensor within a certain timeframe.
        </p>
        <hr />
        <h4>Controls</h4>
        <p>
          Drag - Drag the view to go back/ forward in time. <br />
          Zoom - Scroll while on the view to zoom in/ out.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>