<div class="container-fluid">
  <div>
    <h1></h1>
    <div class="panel panel-custom-info">
      <div class="panel-heading panel-heading-custom">
        <h3 class="panel-title">Data <span class="glyphicon glyphicon-info-sign pull-right clickable" data-toggle="modal" data-target="#infoDataModal"> </span></h3>
      </div>
      <div class="panel-body">
        <div id="graph"></div>
      </div>
    </div>

    <div class="row control-container">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-custom-info">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Period</h3>
          </div>
          <div class="panel-body">
            <table class="controls">
              <tr>
                <td>Start date</td>
                <td><input id="startDateInput" [(ngModel)]="startDate" (change)="updatePeriod()" type="datetime-local" class="form-control" /></td>
              </tr>
              <tr>
                <td>End date</td>
                <td><input [(ngModel)]="endDate" (change)="updatePeriod()" type="datetime-local" class="form-control" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-custom-info">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Content</h3>
          </div>
          <div class="panel-body">
            <table class="controls">
              <tr>
                <td>
                  Add data from
                </td>
                <td>
                  <div>
                    <select id="addSeries_graph" class="form-control"><option *ngFor="let sensor of sensors" [value]="sensor.sid">{{ sensor.sid }} - {{ sensor.location }} - {{ sensor.type }}</option></select>
                  </div>
                </td>
                <td>
                  <div class="btn btn-default btn-justify" (click)="addSeries('graph')">Add</div>
                </td>
              </tr>
              <tr>
                <td>
                  Remove data from
                </td>
                <td>
                  <select id="removeSeries_graph" class="form-control"><option *ngFor="let sensor of addedSensors" [value]="sensor.sid">{{ sensor.sid }} - {{ sensor.location }} - {{ sensor.type }}</option></select>
                </td>
                <td>
                  <div class="btn btn-default btn-justify" (click)="removeSeries('graph')">Remove</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel panel-custom-info">
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title">Styling</h3>
          </div>
          <div class="panel-body">
            <table class="controls">
              <tr>
                <td>
                  Point style
                </td>
                <td>
                  <select (change)="updateStyle()" [(ngModel)]="drawPointsStyle" class="form-control">
                    <option value="circle" [selected]="drawPointsStyle === 'circle'">Circle</option>
                    <option value="square" [selected]="drawPointsStyle === 'square'">Square</option>
                    <option value="none" [selected]="drawPointsStyle === 'none'">None</option>
                  </select>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modals-->
<!-- Info Data Modal -->
<div id="infoDataModal" class="modal modal-custom fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Info - Data</h3>
      </div>
      <div class="modal-body">
        <h4>General</h4>
        <p>
          The data view shows the latest values produced by the sensor.
        </p>
        <hr />
        <h4>Controls</h4>
        <p>
          Drag - Drag the view to go back/ forward in time. <br />
          Zoom - Scroll while on the view to zoom in/ out.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>