/*General Styles*/
body {
  /*padding: 16px;*/
  padding-top: 70px;
}

.centered-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  color: #656565;
  text-align: center;
}

/*Carrot media color palette -> http://www.color-hex.com/color-palette/37774 */
.custom-background {
  background-color: #22323f;
}

.custom-text {
  color: #64b26f;
}