<div class="container-fluid">
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#chibbNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="overview">CHIBB Dashboard</a>
      </div>
      <div class="collapse navbar-collapse" id="chibbNavbar">
        <ul class="nav navbar-nav">
          <li [ngClass]="{'active': router.url === '/dashboard' }" *ngIf="authenticationService.isAuthenticated()"><a routerLink="overview">Home</a></li>
          <li [ngClass]="{'active': router.url === '/house' }" *ngIf="authenticationService.isAuthenticated()"><a routerLink="house">Houses</a></li>
          <li [ngClass]="{'active': router.url === '/sensor' }" *ngIf="authenticationService.isAuthenticated()"><a routerLink="sensor">Sensors</a></li>
          <!--<li [ngClass]="{'active': router.url === '/permission' }" *ngIf="authenticationService.isAuthenticated()"><a href="#">Permissions</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!authenticationService.isAuthenticated()">
          <li [ngClass]="{'active': router.url === '/authenticate/register' }"><a routerLink="authenticate/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li [ngClass]="{'active': router.url === '/authenticate/login' }"><a routerLink="authenticate/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" *ngIf="authenticationService.isAuthenticated()">
          <li><a (click)="logout()" style="cursor: pointer;"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
        <p *ngIf="authenticationService.isAuthenticated()" class="navbar-text navbar-right">Hello, {{ authenticationService.getUsername() }}!</p>        
      </div>
    </div>
  </nav>
</div>